.feature-mapping {
  color: $color-accent-light;
  font-size: .85em;
}

.features {
  margin-bottom: 2rem;
  border: 1px solid $lighter-gray;
  border-radius: $theme-border-radius;
}

.feature {
  padding: 2rem 2rem 2.5rem;

  header {
    margin-bottom: 1rem;
  }

  footer {
    display: flex;

    a:first-child {
      margin-right: 1rem;
    }

    .button,
    form {
      margin-bottom: 0;
    }
  }

  .feature-name {
    margin-right: 1rem;
    margin-bottom: 0;
  }

  &:nth-child(even) {
    background: $lighter-gray;
  }
}

@include breakpoint(medium up) {
  .feature {
    header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }
}

.search-form {
  max-width: 300px;
  margin: 0 auto;

  [type="text"] {
    padding: 0 4rem 0 1rem;
    border-color: $color-darker;
    background: $color-darker;
    color: $light-gray;
  }

  button {
    position: absolute;
    top: 0;
    right: 0;
    margin-bottom: 0;
    padding: 0 1rem;
    border-color: transparent;
    background-color: transparent;
    color: $color-primary;

    &:focus,
    &:hover,
    &:active {
      border-color: transparent;
      background-color: transparent;
      color: $color-primary-dark;
    }
  }

  p {
    margin-bottom: 0;
    font-size: .75em;
    text-align: right;
  }

  a {
    color: $color-secondary;

    &:focus,
    &:hover {
      color: $color-secondary-dark;
    }
  }

  i {
    font-size: 2em;

    &::before {
      position: relative;
      top: .1em;
    }
  }

  ::placeholder {
    color: $dark-gray;
  }

  .form-group {
    display: flex;
    margin-bottom: .5rem;
  }
}

@include breakpoint(large up) {
  .search-form {
    margin: 0;
  }
}
