// scss-lint:disable QualifyingElement
input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select {
  border-radius: $theme-border-radius;
  background: $white;
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'],
.button {
  border-radius: $theme-border-radius;
}
// scss-lint:enable QualifyingElement

.form-group {
  position: relative;
  margin-bottom: 1.5rem;

  input,
  textarea {
    margin-bottom: 0;
  }

  .help-block {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: .6rem 1rem;
    color: $color-warning;
    font-size: .85em;
  }

  &.has-error {
    label {
      color: $color-warning;
    }
  }

  &.button-form-group {
    p {
      margin-bottom: 1rem;
    }
  }
}

.button-success {
  border-color: $color-success;
  background-color: $color-success;

  &:hover {
    border-color: $color-success-hover;
    background-color: $color-success-hover;
  }
}

form {
  // destroy link
  &.link {
    margin-bottom: 1rem;

    .button {
      margin-bottom: 0;
      border-color: $color-warning;
      color: $color-warning;

      &:hover,
      &:active {
        border-color: $color-warning-hover;
        color: $color-warning-hover;
      }
    }
  }
}
