body {
  background: $color-initial;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-content {
  flex-grow: 1;
}

.page-header {
  margin-bottom: 2rem;
  padding: 1.5rem 0;
  background: $color-dark;
  color: $color-initial;

  .site-heading {
    margin-bottom: 0;

    a {
      &:link,
      &:visited {
        color: $lighter-gray;
      }

      &:hover {
        color: $light-gray;
      }
    }
  }
}

.page-footer {
  margin-top: 3rem;
  padding: 1.5rem 0;
  background: $lighter-gray;
  text-align: center;
}

.page {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 4%;
}

.content-header {
  margin-bottom: 2rem;

  @include breakpoint(medium up) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;

    h2 {
      margin: 0 2rem 1rem 0;
    }
  }
}

.alert {
  margin-bottom: 2rem;
  padding: 1rem;
  border-left: 3px solid $color-primary;
  background: $lighter-gray;

  p:first-child {
    font-weight: bold;
  }

  p:last-child {
    margin-bottom: 0;
  }

  &.alert-error,
  &.alert-danger {
    border-color: $color-failure;
  }

  &.alert-info {
    border-color: $color-success;
  }
}
