body {
  background: $color-initial;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-content {
  flex-grow: 1;
}

.page-header {
  margin-bottom: 2rem;
  padding: 1.5rem 0;
  background: $color-dark;
  color: $color-initial;

  .site-heading {
    margin-bottom: 0;

    a {
      &:link,
      &:visited {
        color: $color-accent-light;
      }

      &:hover {
        color: $gray;
      }
    }
  }

  .heading-and-form {
    h1 {
      margin-bottom: 1.5rem;
      text-align: center;
    }

    form {
      margin-bottom: 0;
    }
  }

  @include breakpoint(large up) {
    .heading-and-form {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      h1 {
        margin-right: 2rem;
        margin-bottom: 0;
        text-align: left;
      }
    }
  }
}

.page-footer {
  margin-top: 3rem;
  padding: 1.5rem 0;
  background: $lighter-gray;
  text-align: center;
}

.page {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

.content-header {
  margin-bottom: 2rem;
  text-align: center;

  h2 {
    margin-bottom: 1.3rem;
  }

  .heading-wrapper {
    margin-bottom: 1rem;

    h2 {
      margin-bottom: 0;
    }
  }

  .button {
    margin-bottom: 0;
  }

  @include breakpoint(medium up) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    text-align: left;

    h2 {
      margin: 0 2rem 1rem 0;
    }
  }
}

.alert {
  margin-bottom: 2rem;
  padding: 1rem;
  border-left: 3px solid $color-primary;
  border-radius: 0 $theme-border-radius $theme-border-radius 0;
  background: $lighter-gray;

  p:first-child {
    font-weight: bold;
  }

  p:last-child {
    margin-bottom: 0;
  }

  &.alert-error,
  &.alert-danger {
    border-color: $color-warning;
  }

  &.alert-info {
    border-color: $color-success;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;

  @include breakpoint(medium up) {
    justify-content: flex-start;
  }

  a {
    padding: .2rem 1rem;
    border: 1px solid $light-gray;
    border-width: 1px 1px 1px 0;
    font-size: .85em;

    &:first-child {
      border-width: 1px;
      border-top-left-radius: $theme-border-radius;
      border-bottom-left-radius: $theme-border-radius;
    }

    &:last-child {
      border-top-right-radius: $theme-border-radius;
      border-bottom-right-radius: $theme-border-radius;
    }

    &:not(.active) {
      &:hover {
        background: $lighter-gray;
      }
    }

    &.active {
      background: $light-gray;
      color: $color-accent-dark;
      box-shadow: inset 0 0 8px rgba($black, .1);
      pointer-events: none;
    }
  }
}

.pagination-info {
  text-align: center;

  @include breakpoint(medium up) {
    text-align: left;
  }
}
