// TODO: add autoprefixer
// This file is for your main application css.

$color-light: #f2f3f3;
$color-accent-light: #8ea4af;
$color-brand: #928370;
$color-accent-dark: #7b7a7c;
$color-dark: #1e202e;

$green: #61a25a;
$orange: #de9222;
$red: #f44336;

// colors
$white: #fff;
$gray: $color-accent-dark;
$light-gray: lighten($gray, 30%);
$lighter-gray: lighten($gray, 40%);
$medium-gray: darken($gray, 6%);
$black: #000;

$color-initial: $color-light;
$color-primary: $color-brand;
$color-secondary: $color-accent-dark;
$color-tertiary: $color-accent-light;
$color-quaternary: $light-gray;
$color-quinary: $lighter-gray;

$color-primary-dark: darken($color-primary, 10%);
$color-secondary-dark: $medium-gray;

$color-success: $green;
$color-warning: $orange;
$color-success-hover: darken($color-success, 8%);
$color-warning-hover: darken($color-warning, 8%);

// theme variables
$theme-border-radius: 3px;

// plugins
@import 'normalize.css/normalize';
@import 'milligram-custom';
@import 'foundation-sites/scss/util/unit';
@import 'foundation-sites/scss/util/breakpoint';

// app
@import 'layout';
@import 'forms';

// models
@import 'features';
