<header class="page-header">
  <div class="page">
    <div class="heading-and-form">
      <h1 class="site-heading">
        <%= link "Theme Annotater", to: feature_path(@conn, :index) %>
      </h1>

      <%= render Tater.FeatureView, "_search_form.html", conn: @conn %>
    </div>
  </div>
</header>
