<%= if @page.total_pages != 1 do %>
  <%= pagination_links @page, previous: ~E"<i class='icon-chevron-left'></i>",
                              next: ~E"<i class='icon-chevron-right'></i>" %>
<% end %>

<%= if @show_info do %>
  <%= pagination_info @page, "Features" %>
<% end %>
