<h2>Edit <%= @feature.name %> Feature</h2>

<%= render "form.html", changeset: @changeset,
                        action: feature_path(@conn, :update, @feature) %>

<%= link "Back", to: feature_path(@conn, :index) %>
