<%= form_for @changeset, @action, fn f -> %>
  <%= form_alert(@changeset) %>

  <%= input f, :name %>

  <%= if @changeset.data.mapping != nil do %>
    <%= input f, :mapping %>
  <% end %>

  <%= input f, :annotation, using: :textarea %>

  <div class="form-group button-form-group">
    <p><small>*All fields required</small></p>
    <%= submit "Submit", class: "button button-success" %>
  </div>
<% end %>
