<%= form_for @changeset, @action, fn f -> %>
  <%= form_alert(@changeset) %>

  <%= input f, :name %>

  <%= if @changeset.data.mapping != nil do %>
    <%= input f, :mapping %>
  <% end %>

  <%= input f, :annotation %>

  <div class="form-group">
    <p>*All fields required</p>
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
