<header class="content-header">
  <h2>Features</h2>
  <%= link "New feature", to: feature_path(@conn, :new),
                          class: "button button-success" %>
</header>

<%# TODO: use icons for previous/next links %>
<%= pagination_links @page, previous: "«", next: "»" %>

<%= render_features @features, assigns %>

<%= pagination_links @page, previous: "«", next: "»" %>
<%= pagination_info @page, "Features" %>
