<header class="content-header">
  <h2>Features</h2>
  <%= link "New feature", to: feature_path(@conn, :new),
                          class: "button button-success" %>
</header>

<%= render "_pagination.html", page: @page, show_info: false %>

<%= render_features @features, @conn %>

<%= render "_pagination.html", page: @page, show_info: true %>
