<header class="content-header">
  <div class="heading-wrapper">
    <h2 class="feature-name"><%= @feature.name %></h2>
    <code class="feature-mapping"><%= @feature.mapping %></code>
  </div>

  <%= link "Edit", to: feature_path(@conn, :edit, @feature), class: "button" %>
</header>

<p class="feature-annotation"><%= @feature.annotation %></p>

<p><%= link "All Features", to: feature_path(@conn, :index) %></p>
