<h2><%= @feature.name %></h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @feature.name %>
  </li>

  <li>
    <strong>Mapping:</strong>
    <%= @feature.mapping %>
  </li>

  <li>
    <strong>Annotation:</strong>
    <%= @feature.annotation %>
  </li>

</ul>

<%= link "Edit", to: feature_path(@conn, :edit, @feature) %>
<%= link "Back", to: feature_path(@conn, :index) %>
